<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.blog.njw1204.studypartner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".StudyPartner"
        android:allowBackup="true"
        android:icon="@drawable/book"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudySearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyMakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyMakeAddIconActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".StudyPlanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AddScheduleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".StaffActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ApplyListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".EditUserActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LicenseActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>